@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Saira:wght@200&display=swap");

.tb-effect {
  position: relative;
}

.tb-effect:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: #333;
  z-index: -1;
  transition: height 0.5s;
}

.tb-effect:hover:after {
  height: 100%;
}

.section-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5rem;
}

.section-header .section-title {
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-family: "Saira", sans-serif;
}

.section-header .line {
  display: block;
  height: 5px;
  margin: 0 auto 70px auto;
  width: 80px;
  background-color: #5a66d7;
}

a {
  text-decoration: none;
}

.Services-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 75px;
}

.Services-item {
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 40px 15px;
  border: 1px solid #e8e8e8;
  text-align: center;
  margin: 1em;
  box-shadow: 0px 0px 5px 1px rgba(127, 174, 242, 0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(127, 174, 242, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(127, 174, 242, 0.75);
}

.Services-item.mg {
  margin: 0 5%;
}

.Services-item-text {
  font-size: 35px;
  color: #5a66d7;
  transition: color 0.5s;
  font-family: "Saira", sans-serif;
}

.pricint-item-perhour {
  width: 130px;
  height: 130px;
  transition: color 0.5s;
  padding: 20px 0;
  margin: 20px auto;
  border: 2px solid #5a66d7;
  border-radius: 50%;
}

.pricint-item-perhour img {
  align-items: center;
  width: 73%;
}

.pricint-item-perhour .hour {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.Services-list {
  list-style: none;
  padding: 0;
}

.Services-list li {
  color: #999;
  line-height: 1.8;
}

.Services-item-purchase {
  background: none;
  border: 0;
  display: block;
  width: 140px;
  border: 2px solid #5a66d7;
  padding: 10px;
  margin: 15px auto 0 auto;
  color: #5a66d7;
  cursor: pointer;
}

.Services-item-purchase a {
  text-decoration: none;
  color: #5a66d7;
}

.Services-item-purchase a:hover {
  text-decoration: none;
  color: #fff;
}

.Services-item:hover .pricint-item-perhour {
  color: #fff;
}

.Services-item:hover .testimonial-list {
  color: #fff;
}

.Services-item:hover .Services-item-text {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .Services-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
    border: none;
  }

  .Services-item {
    display: flex;
    width: 95%;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
