.scrollTopBtn {
  bottom: 1em;
  right: 20px;
  font-size: 30px;
  float: right;
  color: #007bff;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.scrollTopBtn > i {
  font-size: 2.5rem;
}
