.testimonial-section {
  margin: 3rem auto;
  width: 40%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  color: gray;
}

.testimonial-section .carousel-inner span {
  font-weight: bold;
  color: gray !important;
}

.testimonial-section .testimonials-header {
  text-align: center;
  font-size: 4rem;
  margin: 6rem 0 3rem 0;
  font-family: "Times New Roman", Times, serif;
  color: #a7232c;
}

.line {
  width: 80px !important;
  /* margin: 1rem auto 3rem auto; */
  border: 1px solid gray !important;
  text-align: center;
}

.testimonial-section .carousel-inner span {
  color: black;
}

.fa-quote-left {
  margin-top: 2rem;
  color: #5a66d7 !important;
  font-size: 1.5rem !important;
}

.testimonial-section img {
  margin: auto;
  width: 20vw !important;
  border-radius: 50%;
}

.carousel-control-prev-icon {
  background-color: #5a66d7;
  font-size: 1em;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-color: #5a66d7;
  font-size: 1em;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 700px) {
  .testimonial-section img {
    width: 70% !important;
  }
  .testimonial-section {
    width: 100% !important;
  }
}
