.holder-froms {
  /* background-color: coral; */

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
}

@media all and (min-width: 1160px) {
  .holder-froms {
    /* height: 100vh; */
    flex-direction: row;
    justify-content: space-around;
  }
}
