.form-register {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 70vw;
  background-color: white;
  padding: 0px 3em;
  border-radius: 0.9em;
}

.Register-Title {
  color: rgb(77, 1, 77);
  text-align: center;
  font-weight: 700;
  padding: 0.7em 0;
}

.Register-btn {
  width: 100%;
  height: 2.8em;
  padding: 0.8em;
  border: none;
  background-color: #5A66D7;
  color: white;
  border-radius: 0.4em;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 2em;
}

.Register-btn:hover {
  background-color: rgb(55, 44, 67);
}

@media all and (min-width: 1160px) {
  .form-register {
    width: 35vw;
  }
}

@media all and (max-width: 1160px) {
  .form-register {
    margin: 2em 0;
  }
}

@media all and (max-width: 400px) {
  .form-register {
    width: 90vw;
    padding: 0 1.5em;
  }
}