@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Saira:wght@200&display=swap");

.Navbar-right-header {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-Nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.Logo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo img {
  height: 100%;
  align-self: center;
}

.header-Nav {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}


.selected {
  border-bottom: 2px solid #5a66d7;
}

.Navbar-header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Navbar-Links-header {
  width: 40%;
}

.Navbar-Links-header a {
  text-decoration: none;
  font-size: 1.35em;
  font-family: "Trebuchet MS", sans-serif;
  color: #242649;
  text-transform: uppercase;
}

.Navbar-links-list Link {
  list-style-type: none;
  font-size: 1.6em;
  color: #242649;
  font-weight: 400;
}

.Navbar-Links-header a:hover {
  color: #5a66d7;
}

.Navbar-right-header img {
  cursor: pointer;
}

.Navbar-right-header img:hover {
  border: 2px solid #5a66d7;
  border-radius: 50%;
}

.login-btn-header {
  text-decoration: none;
  font-size: 1em;
  padding: 0.3em 1.3em;
  border-radius: 5px;
  border: none;
  background-color: rgb(77, 1, 77);
}

.login-btn-header:hover {
  background-color: #5a66d7;
  transition: 0.5s ease-out;
}

.login-btn-header a {
  color: white;
  text-decoration: none;
}

.login-btn-header a:hover {
  color: white;
  text-decoration: none;
}

.Navbar-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
}

.login-btn {
  padding: 0.5em 2em;
  font-size: 1em;
}

.burger-menu {
  margin-left: 1em;
  text-align: center;
  font-size: 1.7em;
  color: #5a66d7;
  margin-bottom: 0;
  display: none;
}

@media (max-width: 750px) {
  .Navbar-right-header {
    justify-content: flex-end;
    margin-right: 1em;
  }

  .Navbar-links-list {
    display: none;
  }

  .Logo {
    justify-content: flex-start;
    margin-left: 1em;
  }

  .burger-menu {
    display: block;
  }

  .burger-menu {
    margin: 0.2em;
  }
}

@media (max-width: 500px) {
  .Navbar-right-header img {
    cursor: pointer;
    margin-right: 1rem;
  }
}
