.services-container {
  width: 100%;
  height: 500px;
  background: url(/public/assets/services-bg.png) no-repeat center center;
  background-size: cover;
}

.services-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-content h4 {
  color: #fff;
  font-size: 3rem;
}

.card-container {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
  justify-content: center;
}

.card-container .card-service {
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 3em;
  padding: 15px;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.card-service-img img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.card-service-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 55%;
  padding: 0 2em;
}

.book-btn {
  background: #5a66d7;
  color: #fff;
  padding: 0.4em 1em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.book-btn a {
  color: #fff;
  text-decoration: none;
}

.book-btn a:hover {
  color: #fff;
}

.book-btn:hover {
  transition: 0.3s all ease-in-out;
  background: #000;
}

@media screen and (max-width: 768px) {
  .card-container .card-service {
    max-width: 80%;
    flex-direction: column;
  }

  .card-service-content {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .card-container .card-service {
    max-width: 90%;
  }

  .card-service-content {
    width: 100%;
  }
}
