footer{
    background-color: #f3f3f3;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-container img{
    width: 100px;
}
.footerIcons{
    margin: 2rem 0;
}
.footerIcons i{
    font-size: 1.3rem;
    color: black;
    padding-right: 2rem;
    transition: 0.5s;
}
.footerIcons a:hover i{
    transform: scale(1.2);
}
.footer-contactUs{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1.5rem;
    text-align: center;
}

.footer-contact-info p{
    line-height: 3;
}
.copyright{
    text-align: center;
    padding-bottom: 1rem;
}
@media screen and (max-width: 570px){
    .footer-container{
        font-size: 0.8rem;
    }
    .footerIcons i{
        font-size: 1rem;
        padding-right: 1rem;
    }
    .footer-container img{
        width: 75px;
    }
    .logo-and-icons-container{
        width: 30%;
    }
    .footer-contactUs{
        align-self: flex-start;
        margin-top: 3rem;
    }
}