@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Montserrat:wght@300;400;500;600;700&family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Saira:wght@200&display=swap");

.hero {
  width: 100%;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  font-family: "Saira", sans-serif;
  color: #012970;
}

.hero h2 {
  color: #242649;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Saira", sans-serif;
}

.hero .btn-get-started {
  margin-top: 20px;
  line-height: 0;
  padding: 30px 35px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #5a66d7;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.btn-get-started:hover {
  background-color: #001aff;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }

  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }

  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .hero-img img {
    width: 100%;
  }
}
